*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found
gdb/arc-linux-tdep.c
gdb/arc-tdep.c
gdb/arc-tdep.h
gdb/arm-tdep.c
.metadata/
.project
ARC_GDB/
CMakeLists.txt
Makefile
RemoteSystemsTempFiles/
TEST
bfd/Makefile
bfd/doc/Makefile
bfd/doc/aoutx.stamp
bfd/doc/archive.stamp
bfd/doc/archures.stamp
bfd/doc/bfdio.stamp
bfd/doc/bfdt.stamp
bfd/doc/bfdwin.stamp
bfd/doc/cache.stamp
bfd/doc/chew.stamp
bfd/doc/coffcode.stamp
bfd/doc/core.stamp
bfd/doc/elf.stamp
bfd/doc/elfcode.stamp
bfd/doc/format.stamp
bfd/doc/hash.stamp
bfd/doc/init.stamp
bfd/doc/libbfd.stamp
bfd/doc/linker.stamp
bfd/doc/mmo.stamp
bfd/doc/opncls.stamp
bfd/doc/reloc.stamp
bfd/doc/section.stamp
bfd/doc/syms.stamp
bfd/doc/targets.stamp
bfd/libbfd.a
bfd/po/Makefile
bfd/po/Makefile.in
bfd/stamp-h1
bfd/stamp-lib
bfd/stamp-ofiles
etc/Makefile
gdb/Makefile
gdb/build-gnulib/
gdb/d-exp.c
gdb/data-directory/Makefile
gdb/data-directory/python/
gdb/data-directory/stamp-guile
gdb/data-directory/stamp-python
gdb/data-directory/stamp-syscalls
gdb/data-directory/stamp-system-gdbinit
gdb/data-directory/syscalls/
gdb/data-directory/system-gdbinit/
gdb/doc/GDBvn.texi
gdb/doc/Makefile
gdb/doc/gcore.1
gdb/doc/gdb-cfg.texi
gdb/doc/gdb.1
gdb/doc/gdbinit.5
gdb/doc/gdbserver.1
gdb/doc/version.subst
gdb/gdb-gdb.gdb
gdb/stamp-h
gdb/stamp-xml
gdb/testsuite/Makefile
gdb/testsuite/gdb.ada/Makefile
gdb/testsuite/gdb.arch/Makefile
gdb/testsuite/gdb.asm/Makefile
gdb/testsuite/gdb.base/Makefile
gdb/testsuite/gdb.btrace/Makefile
gdb/testsuite/gdb.cell/Makefile
gdb/testsuite/gdb.compile/Makefile
gdb/testsuite/gdb.cp/Makefile
gdb/testsuite/gdb.disasm/Makefile
gdb/testsuite/gdb.dlang/Makefile
gdb/testsuite/gdb.dwarf2/Makefile
gdb/testsuite/gdb.fortran/Makefile
gdb/testsuite/gdb.gdb/Makefile
gdb/testsuite/gdb.go/Makefile
gdb/testsuite/gdb.guile/Makefile
gdb/testsuite/gdb.java/Makefile
gdb/testsuite/gdb.linespec/Makefile
gdb/testsuite/gdb.mi/Makefile
gdb/testsuite/gdb.modula2/Makefile
gdb/testsuite/gdb.multi/Makefile
gdb/testsuite/gdb.objc/Makefile
gdb/testsuite/gdb.opencl/Makefile
gdb/testsuite/gdb.opt/Makefile
gdb/testsuite/gdb.pascal/Makefile
gdb/testsuite/gdb.perf/Makefile
gdb/testsuite/gdb.python/Makefile
gdb/testsuite/gdb.reverse/Makefile
gdb/testsuite/gdb.server/Makefile
gdb/testsuite/gdb.stabs/Makefile
gdb/testsuite/gdb.threads/Makefile
gdb/testsuite/gdb.trace/Makefile
gdb/testsuite/gdb.xml/Makefile
gdb/testsuite/lib/pdtrace
gprof/Makefile
gprof/po/Makefile
gprof/po/Makefile.in
gprof/stamp-h1
intl/Makefile
libdecnumber/Makefile
libdecnumber/libdecnumber.a
libdecnumber/stamp-h1
libiberty/Makefile
libiberty/libiberty.a
libiberty/stamp-h
libiberty/stamp-noasandir
libiberty/stamp-picdir
libiberty/testsuite/Makefile
opcodes/Makefile
opcodes/libopcodes.a
opcodes/po/Makefile
opcodes/po/Makefile.in
opcodes/stamp-h1
opcodes/stamp-lib
readline/Makefile
readline/doc/Makefile
readline/examples/Makefile
readline/libhistory.a
readline/libreadline.a
readline/shlib/Makefile
readline/stamp-h
sim/Makefile
sim/arc/Makefile
sim/arc/eng5.h
sim/arc/mloop5.c
sim/arc/stamp-5mloop
sim/arc/stamp-h
sim/arc/stamp-tvals
sim/common/Makefile
sim/testsuite/Makefile
zlib/Makefile
zlib/libz.a
